<%= form_for @study do |f| %>
	<%= f.label "Study Name" %> <%= f.text_field :name %> <br />
	<%= f.label "Description" %> <%= f.text_field :caption %><br />
	<%= hidden_field_tag 'study[pairs]', @pairs_json, :id => 'study_pairs_field' %> 

	<a href="#" id="add_pair" class="btn btn-success">Add Image Pair</a>
	<%= f.submit 'Save Study', :class => "btn btn-primary"%><br /><br />
	
	<table id="pairs" class="table table-bordered table-striped data_table3 dataTable clearfix">
		<% @study.pairs.each_with_index do |pair, id| %>
		<tr><td><div id="l<%= id %>" class="pair_droppable">Left<%= image_tag(pair.choice1.image.info.thumb.url, :class => 'thumb_dropped') %></div>
		<div id="r<%= id %>" class="pair_droppable">Right<%= image_tag(pair.choice2.image.info.thumb.url, :class => 'thumb_dropped') %></div></td></tr>
		<% end %>
	</table>
<% end %>