<%= form_for @study do |f| %>
	<div class="half_input"><%= f.label "Study Name" %><%= f.text_field :name %></div>
	<div class="half_input"><%= f.label "Timer Length" %><%= f.text_field :timer %></div><br />
	<%= f.label "Randomize study pairs?", :class => "checkbox_label" %> <%= f.check_box :randomize %>
	<%= f.label "Description" %> <%= f.text_field :caption, :class => "full_input" %>
	<%= f.label "Instructions" %> <%= f.text_area :instructions, :class => "box_input" %><br />
	<%= hidden_field_tag 'study[pairs]', @pairs_json, :id => 'study_pairs_field' %> 

	<a href="#" id="add_pair" class="btn btn-success">Add Image Pair</a>
	<%= f.submit 'Save Study', :class => "btn btn-primary"%><br /><br />
	
	<ul id="pairs" class="clearfix">
		<% @study.pairs.each_with_index do |pair, id| %>
		<li><b><%= id+1 %></b>
			<div id="<%= pair.choice1.image.id %>" class="pair_droppable">Left<%= image_tag(pair.choice1.image.info.thumb.url, :class => 'thumb_dropped') %></div>
			<div id="<%= pair.choice2.image.id %> %>" class="pair_droppable">Right<%= image_tag(pair.choice2.image.info.thumb.url, :class => 'thumb_dropped') %></div>
			<a href="#" role="button" class="btn btn-danger pair_delete" onClick=""><i class="icon-trash icon-white"></i></a>
			</li>
		<% end %>
	</ul>
<% end %>