<script>
	$(function(){
		$('body').addClass('login_bg');
	});
</script>

<div id="login">
	<div class="inner clearfix">
		<h3>Brado Stopping Power</h3>
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <div><%= f.email_field :email, :autofocus => true, :class => 'tip textfield', :title => "Enter your email" %></div>
		  <div><%= f.password_field :password, :class => 'tip textfield', :title => "Enter your password" %></div>

		  <div class="pull-left">
		  <% if devise_mapping.rememberable? -%>
		    <div><%= f.check_box :remember_me %><%= f.label :remember_me %></div>
		  <% end -%>
		  </div>

		  <div class="pull-right" style="margin-right:-8px;">
	          <div class="btn-group">
	            <button type="submit" class="btn" id="button_login">Login</button>
           		<%= render "devise/shared/links" %>
	          </div>
           </div>
		<% end %>
	</div>	
</div>