<%= form_for @image, :remote => true do %>
<h3>Upload Images</h3>
<p><%= link_to "Back to Images", images_path(:folder => @folder.id), :id => 'images_link' %></p>
<p>Add images to the gallery so they can be included in studies. Images will be placed in the selected folder.</p>
<%= select_tag :folder_id, options_for_select(@folders.inject([]) { |r,e| r << [e.name, e.id] }, @folder.id), :id => "folder_select" %>
<br /><br />
<span class="btn btn-success fileinput-button">
	<i class="icon-plus icon-white"></i>
    <span>Upload files...</span>
    <input id="fileupload" type="file" name="image[info]" multiple>
</span>
<% end %>
<script src="/jquery_fileupload/jquery.iframe-transport.js"></script>
<script src="/jquery_fileupload/jquery.fileupload.js"></script>
<script>
$(function () {
	$('#folder_select').change(function() {
		$('#images_link').attr('href','<%= images_path %>' + '?folder='+this.value);
	});
    $('#fileupload').fileupload({
        dataType: 'json',
        url: '<%= images_path %>',
		progressall: function (e, data) {
		        var progress = parseInt(data.loaded / data.total * 100, 10);
		        $('#progress').css(
		            'width',
		            progress + '%'
		        );
		    },
        done: function (e, data) {
            $.each(data.result, function (index, file) { 
               $('<div class="span2 thumb_box gallery_row"><img src="'+file.thumbnail_url+'" class="thumb">').appendTo('#thumbs');
            });
        }
    });
});
</script>

<div class="progress progress-striped">
  <div id="progress" class="bar bar-success" style="width: 0%;"></div>
</div>


<div id="thumbs" class="span12 clearfix">
</div>