<!DOCTYPE html>
<html>
<head>
  <title>BradoSp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container mainpage">
    <% unless flash.empty? %>
    <div class="row">
      <div class="span6 offset3">
        <% flash.each do |key, msg| %>
		  <div class="alert<%= key == :error ? ' alert-error' : ' alert-notice' %>">
		  <a class="close" data-dismiss="alert" href="#">×</a>
            <%= msg %>
		  </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
	<div class="container">
    <%= yield %>
	</div>
</body>
</html>
